---
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";
import AddButtonIcon from "./Icons/AddButtonIcon.astro";
const translatePath = useTranslatedPath(getLangFromUrl(Astro.url));
---

<a href={translatePath("/upload")}>
  <AddButtonIcon />
</a>
