---
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";
import AddButtonIcon from "./AddButtonIcon.astro";
const translatePath = useTranslatedPath(getLangFromUrl(Astro.url));
---

<a href={translatePath("/upload")}>
  <!-- <img src="/plus_square.svg" alt="Add" /> -->
  <AddButtonIcon />
</a>

<style>
  img {
    width: 50px;
    height: 50px;
  }
</style>
