---
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";
import AddButtonIcon from "./Icons/AddButtonIcon.svg?raw";

const translatePath = useTranslatedPath(getLangFromUrl(Astro.url));
---

<a href={translatePath("/upload")}>
  <Fragment set:html={AddButtonIcon} />
</a>
