<footer>
  <p>© 2021, Astro</p>
</footer>

<style>
  footer {
    font-size: small;
    text-align: center;
    position: relative;
    width: 100%;
    color: var(--text-color);
    /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3); */
    border-top: 3px solid #b3b1b1;
  }
</style>
