<footer>
  <p>© 2021, Astro</p>
</footer>

<style>
  footer {
    background-color: #23262d;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>
