<footer>
  <p>© 2021, Astro</p>
</footer>

<style>
  footer {
    font-size: small;
    background-color: #23262d;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
  }
</style>
