---
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";
import GenerateOutfitIcon from "./Icons/GenerateOutfitIcon.svg?raw";
const translatePath = useTranslatedPath(getLangFromUrl(Astro.url));
---

<a href={translatePath("/outfit")}>
  <Fragment set:html={GenerateOutfitIcon} />
</a>

<style>
  img {
    width: 50px;
    height: 50px;
  }
</style>
