---
import { getLangFromUrl } from "src/i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<div>
  <select name="languages" id="languages">
    <option selected={lang === "en"} value="en">🇬🇧&emsp;English</option>
    <option selected={lang === "pt"} value="pt">🇵🇹&emsp;Português</option>
  </select>
</div>

<script>
  const select = document.getElementById("languages");
  select?.addEventListener("change", (e: any) => {
    if (e.target.value === "en") {
      window.location.href =
        window.location.pathname.replace(/^\/pt/, "") || "/";
    } else {
      window.location.href = `/pt${window.location.pathname}`;
    }
  });
</script>

<style>
  select {
    display: block;
    margin: auto;
  }
</style>
