---
import { getLangFromUrl } from "src/i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<select
  class="select select-bordered w-full maxW"
  name="languages"
  id="languages"
>
  <option selected={lang === "en"} value="en">🇬🇧&emsp;English</option>
  <option selected={lang === "pt"} value="pt">🇵🇹&emsp;Português</option>
</select>
<script>
  const select = document.getElementById("languages");
  select?.addEventListener("change", (e: any) => {
    if (e.target.value === "en") {
      window.location.href =
        window.location.pathname.replace(/^\/pt/, "") || "/";
    } else {
      window.location.href = `/pt${window.location.pathname}`;
    }
  });
</script>

<style>
  select {
    display: block;
    margin: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .maxW {
    max-width: 20rem;
  }
  @media screen and (max-width: 600px) {
    .maxW {
      max-width: 5rem;
    }
  }
</style>
