---
import { useTranslations, getLangFromUrl } from "src/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <select name="languages" id="languages">
    <option selected={lang === "en"} value="EN">🇬🇧&emsp;English</option>
    <option selected={lang === "pt"} value="PT">🇵🇹&emsp;Português</option>
  </select>

  <style>
    img {
      width: 70px;
      height: auto;
    }
  </style>
</div>

<script>
  const select = document.getElementById("languages");
  select?.addEventListener("change", (e: any) => {
    if (e.target.value === "EN") {
      window.location.href = "/";
    } else {
      window.location.href = "/pt";
    }
  });
</script>
