---
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
import ThemeIcon from "./Icons/ThemeIcon.astro";
import DropdownSettings from "./DropdownSettings.svelte";
import EyeIcon from "./Icons/EyeIcon.svg?raw";

const translatePath = useTranslatedPath(getLangFromUrl(Astro.url));
---

<nav>
  <div class="center">
    <div>
      <a href={translatePath("/")}>
        <div>
          <img src="/logo_trans.svg" alt="Large Icon" id="logo" />
        </div>
      </a>
      <a href={translatePath("/clothes")} class="ml-5">
        <div class="center-img size-eye">
          <Fragment set:html={EyeIcon} />
        </div>
      </a>
    </div>
    <div class="nav_div2">
      <LanguagePicker />
      <ThemeIcon />
      <DropdownSettings client:load windowLocation={Astro.url} />
    </div>
  </div>

  <style>
    .center {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(63, 62, 62, 0.3);
      z-index: 1;
    }

    nav div {
      display: flex;
      align-items: center;
    }
    .nav_div2 {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .center-img {
      display: block;
      margin: auto;
    }

    @media screen and (max-width: 600px) {
      #logo {
        content: url("/LogoMobile.svg");
      }
    }
  </style>
</nav>
