---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "src/i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
import ThemeIcon from "./ThemeIcon.astro";
import SettingsIcon from "./SettingsIcon.astro";
import EyeIcon from "./EyeIcon.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav>
  <div>
    <a href={translatePath("/")}>
      <img src="/logo_trans.svg" alt="ClotheMatch Logo" class="center-img" />
    </a>
    <a href={translatePath("/clothes")}>
      <div class="center-img">
        <EyeIcon />
      </div>
    </a>

    <LanguagePicker />
    <ThemeIcon />

    <a href="/settings">
      <div class="center-img">
        <SettingsIcon />
      </div>
    </a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: var(--bg-color); */
    box-shadow: 0 2px 4px rgba(63, 62, 62, 0.3);
    z-index: 1;
  }

  nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .center-img {
    display: block;
    margin: auto;
  }
</style>
