---

---

<button aria-label="Upload">
  <img src="/plus_square.svg" alt="Add" />
</button>

<style>
  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
  }
</style>
