---
import Layout from "@layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
import UploadOutfit from "@components/OutfitComponent(page).svelte";
import Footer from "@components/Footer.astro";
---

<Layout title="Clothe Match">
  <main>
    <NavBar />
    <UploadOutfit windowLocation={Astro.url} client:only />
    <Footer />
  </main>
</Layout>

<style>
  :global(.dark) main {
    background-color: #0d1117;
  }
</style>
