---
import Layout from "@layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
import DragAndDrop from "@components/DragAndDrop.svelte";
import Footer from "@components/Footer.astro";

import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<Layout title="Clothe Match">
  <main>
    <NavBar />
    <div>
      <DragAndDrop client:only="svelte" windowLocation={Astro.url} />
    </div>
    <Footer />
  </main>
</Layout>

<style>
  main {
    background-color: #d9d9d9;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  :global(.dark) main {
    background-color: #0d1117;
  }
  div {
    flex: 1;
    align-content: center;
    text-align: center;
  }
</style>
