---
import Layout from "@layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
import AddButton from "@components/AddButton.astro";
import Generate_Outfit from "@components/GenerateOutfitsButton.astro";
import Footer from "@components/Footer.astro";
import EyeCard from "@components/EyeCard.svelte";

import { getLangFromUrl, useTranslations } from "src/i18n/utils";
const t = useTranslations(getLangFromUrl(Astro.url));
---

<Layout title="Clothe Match">
  <main>
    <NavBar />
    <div class="split-screen">
      <div class="left">
        <div class="left top buttons">
          <AddButton />
          <span class="subtitle">{t("nav.upload")}</span>
        </div>
        <div class="left buttons">
          <Generate_Outfit />
          <span class="subtitle">{t("nav.generate")}</span>
        </div>
        <Footer />
      </div>
      <div class="right">
        <div class="eye-cards-column">
          <EyeCard />
          <EyeCard />
        </div>
      </div>
      <div class="line-horizontal"></div>
    </div>
  </main>

  <style>
    main {
      background-color: #d9d9d9;
      color: white;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .eye-cards-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }
    .split-screen {
      flex: 1;
      display: flex;
      width: 100%;
      position: relative;
    }

    .left {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;
      justify-content: space-between;
    }
    .buttons {
      align-items: center;
      justify-content: center;
    }
    .top {
      border-bottom: 3px solid #b3b1b1;
    }
    :global(.dark) main {
      background-color: #0d1117;
    }
    .right {
      border-left: 3px solid #b3b1b1;
      flex-basis: 50%;
      overflow-y: auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .subtitle {
      display: block;
      font-size: 0.9rem;
      color: var(--text-color);
      padding-top: 1rem;
    }
  </style>
</Layout>
